@import "tailwindcss";

@theme {
    --color-textColor: #1d4640;
    --color-accentColor: #eab23d;
}

:root {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}