@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

@theme {
  --color-textColor: #1d4640;
  --color-accentColor: #eab23d;
}

:root {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.date-widget {
  border-radius: 19px;
  background: #ffffff;
  box-shadow: -7px -7px 33px #a8a8a8, 7px 7px 33px #ffffff;
}
